body {
	font-family: 'Lucida Grande', sans-serif;	
}

h1 {
	color: #666666;
	font-size: 48px;
}

h2 {
	color: #F07C17;
	font-size: 28px;
}

.content-title {
	margin-top: 2px;		
}

.box-title {
	margin-top: 18px;
	padding-bottom: 20px;	
}

p {
	color: #666666;
	line-height: 2;
	font-size: 14.5px;
	font-weight: 100;
}

.img-box {
	margin-top: 20px;
}

.content-margin {
	padding-left: 12px;
    padding-right: 40px;
}

.mug-features {
	border-color: #666666; 
	border-style: solid;
	padding-top: 10px;
	padding-left: 32px;
	padding-bottom: 40px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	color: #666666;
	line-height: 2;
	margin-top: 30px;
}

.page-position {
	margin-top: 25px;
}